
  <div class="hero">
    <div class="container mt-5">

    <div class="row">
      <%= form_tag import_readings_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import Dexcom Data" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div id="notes"> <h3 style="color:red;">Work on titles/ legends. Work on views. work on button to scale the axis/time </h3>
  <p style="color:red"> Work on failure navigatino for data import! work on tests!</p></div>
  <div id="chart_div">
  </div>
</div>
