<section class="hero">
  <%= link_to "Import Dexcom Data", readings_path %>
</section>

<section class="main">
  <div class="wrap row">
    <div class="small-6 large-2 column" style="background: red">
    <h1> Welcome </h1>
    </div>
  </div>
  <div class="wrap row">
    <div class="large-2 column" style="background: gray"> 2</div>
  </div>

  <div class="wrap row">
    <div class="large-4 column" style="background: blue">
      <ul class="menu align-right">
        <li> <a href="#">One</a></li>
        <li> <a href="#">Two</a></li>
        <li> <a href="#">Three</a></li>
        <li> <a href="#">Four</a></li>
      </ul>
    </div>
  </div>

</section>
