

<section class="main">
  <div class="wrap row">
    <div class="small-12 medium-7 column">
    <h1> Welcome </h1>

    <a class="navigation" href="https://en.wikipedia.org/wiki/Diabetes_mellitus_type_1">
      More on T1 Diabetes!</a>
    </div>
  </div>

<footer>
  <div class="wrap row">
    <div class="column">
      <%= link_to "What is Diabetes", more_path %>
    </div>
  </div>
</footer>
