<div class="container">
  <div class="main d-flex">
    <div class="row justify-item-center">
      <section class="col just">
          <h2> Welcome </h2>
          <%= link_to "Import Dexcom Data", readings_path %>
      </section>
    </div> <!-- row -->
  </div> <!-- main -->
 <!-- container -->
