<section class="hero">
  <!--  Need to clean this up-->
  <div id="chart_div"></div>
</section>

<section class="main">
  <div class="wrap row">
    <div class="small-12 medium-7 column">
    <h1> Welcome </h1>
    </div>
  </div>
  <div class="wrap row">
    <div class="small-10 medium-6 column">
      <!-- <ul class="menu align-right">
        <li> <a href="#">One</a></li>
        <li> <a href="#">Two</a></li>
        <li> <a href="#">Three</a></li>
        <li> <a href="#">Four</a></li>
      </ul> -->
    </div>
  </div>
</section>
