<div class="container">
  <div class="main d-flex">
    <div class="row justify-item-center">
      <section class="col">
          <h2> Welcome </h2>
          <div class="container mr-2">
            <div id="chart_wrap"><div id="chart" style="max-width:90%"></div></div>

          <%= link_to "Import Dexcom Data", readings_path %>
        </div>

      </section>
    </div> <!-- row -->
  </div> <!-- main -->
 <!-- container -->
