/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.wrap {
  margin: auto;
  max-width: 700px;
  width: 90%;
}

.hero {
  background-color: pink;
  padding: 20px 10px;
  height: 90px;
}
.main {
  margin: auto;
  background-color: gray;
  background-image: url(http://www.vivo.colostate.edu/hbooks/pathphys/endocrine/pancreas/insulin2_6.gif);
}

.footer {
  background-color: black;
}

.menu {
  margin: auto;
  background: #333;
  /*li: {background: #333;
    &:hover {background: lighten(#333, 20%);}
  }*/
}
#Dexcom_Form {
  margin: auto;
  padding-left:  auto;
  border-style: inset;
  border-color: inherit;
}
/*.image {
  margin-left: 20%;
  align-self: center;
}*/
